<h2>{{data}}</h2>

<body>
<div class='container'>  

   <div class="app-title"><p>Live Updates</p></div>
       
   <div class="description">
     <div><img src="{{icon}}" alt="icon"  ></div> 
                     <p>
                      Total Reported: <span>{{update.total}} ✍🏻</span><br>
               Under Observation: <span>{{update.confirmedCasesIndian}} 🤒</span><br>
                      Discharged People: <span>{{update.discharged}}✔️ </span><br>
                      Deaths: <span>{{update.deaths}} 😰</span></p></div>
        <div class="copyright"><p>Suggestions are appreciated <br> <span>📧:  u4saif@gmail.com</span></p></div>
</div>
</body>